.heading {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
}
.item {
  height: 90vh;
  background-size: cover;
  background-position: center;
  flex: 1;
}
.one {
  background-image: url(./harmony.jpeg);
}
.two {
  background-image: url(./bed.jpeg);
}
.three {
  background-image: url(./fluted.jpeg);
}
.four {
  background-image: url(./bed.jpeg);
}
.five {
  background-image: url(./chair.jpeg);
}
.six {
  background-image: url(./office.jpeg);
}