body {
  background-color: #faf1e6;
}
.heading {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
}
h4 {
  position: absolute;
  top: 15px;
  left: 40px;
  background-color: #fff;
  color: #000;
}
.par {
  position: absolute;
  top: 100px;
  left: 40px;
  background-color: #fff;
  color: #000;
}
.price {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background-color: #fff;
  color: #000;
}
.item {
  height: 90vh;
  background-size: cover;
  background-position: center;
  flex: 1;
  margin: 5px;
  position: relative;
}
.selected {
  flex: 4;
}
.selected h4 {
  font-size: 40px;
  transition: all 1s ease-in;
}
.one {
  background-image: url(./harmony.jpeg);
}
.two {
  background-image: url(./bed.jpeg);
}
.three {
  background-image: url(./fluted.jpeg);
}
.four {
  background-image: url(./bed.jpeg);
}
.five {
  background-image: url(./chair.jpeg);
}
.six {
  background-image: url(./office.jpeg);
}